*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #2b3540;
    color: white;
    height: 5vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
}
nav ul{
    list-style-type: none;
    padding-left: 5vw;
}

.gamecontainer{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.container{
    display: grid;
    margin:  5vh 5vw;
    grid-template-rows: repeat(3, 10vw) ;
    grid-template-columns: repeat(3, 10vh);
    font-family: 'Roboto', 'sans-serif';
    padding: 0 30px;
    position: relative;
}

.line{
    height: 3px;
    background-color: black;
    position: absolute; 
    transition: width 1s ease-in-out;
}

.box{
    border: 2px solid purple;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s  ease-in-out;
}

.box:hover{
    background-color: rgb(241, 155, 241);
    transform: scale(1.2);
}

.gameinfo{
    padding: 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.resetButton button{
    color: blue;
    height: 3rem;
    width: 6rem;
    border-radius: 20%;
}

.resetButton button:hover{
    background-color: aliceblue;
    transform: scale(2);
}

.imageClass img{
    width: 0px;
    transition: width 1s ease-in-out;
}


.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .gamecontainer {
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 3vh;
        display: flex;
        gap: 4vh;
    }
    .container{
        position: relative;
    }
    .line{
        position: absolute;
    }
    
  }