*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(111, 7, 111);
    color: white;
    height: 5vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
}
nav ul{
    list-style-type: none;
}

.gamecontainer{
    background-color: plum;
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.container{
    display: grid;
    margin:  5vh 5vw;
    grid-template-rows: repeat(3, 10vw) ;
    grid-template-columns: repeat(3, 10vh);
    font-family: 'Roboto', 'sans-serif';
    padding: 0 30px;

}

.box{
    border: 2px solid purple;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(241, 155, 241);
}

.gameinfo{
    padding: 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}